# PyTorch
--extra-index-url=https://download.pytorch.org/whl/cu130
torch==2.9.1
torchaudio==2.9.1
torchvision==0.24.1
torchcodec==0.8.1

# Anciliary PyTorch
# torchinfo==1.8.0
torchmetrics==1.8.2
lightning==2.5.6

# HuggingFace
datasets[vision,audio]==4.4.1
huggingface-hub[torch, cli]==1.1.5
timm==1.0.22

# Data wrangling
imageio==2.37.2
# numpy==1.26.4
numpy==2.3.5
pandas==2.3.3
scipy==1.16.3
opencv-contrib-python-headless==4.12.0.88
einops==0.8.1

# GPU accelerated procesing
#cupy-cuda12x==13.6.0
#--extra-index-url=https://pypi.nvidia.com
#cudf-cu13==25.10.*
#cuml-cu13==25.10.*

# Classic learning
scikit-learn==1.7.2
sympy==1.14.0

# Visualization
umap-learn[plot]==0.5.9.post2
matplotlib==3.10.7
seaborn==0.13.2
plotly==6.5.0
kaleido==1.2.0

# Storage
h5py==3.15.1
lz4==4.4.5

# Notebooks
ipykernel==7.1.0
ipywidgets==8.1.8
# nbformat==5.10.4
nbconvert==7.16.6
# papermill==2.6.0

# Logging
comet-ml==3.54.2

# Anciliary
line-profiler==5.0.0

# Extra 
mediapipe==0.10.21

# Dev utils
pip-tools==7.5.2